In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\documents\anaconda_learn\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [7]:
print(pd.__version__)

2.3.3

In [10]:
df = pd.read_csv("customer_shopping_behavior.csv")

In [11]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [12]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [14]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [15]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [16]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [17]:
 df["Review Rating"]=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [18]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [19]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount_'})

In [20]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [21]:
#creating a new column age_group
labels = ['Young Adult','Adult','Middle_age','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [22]:
df[['age','age_group']].head(10)

   age    age_group
0   55   Middle_age
1   19  Young Adult
2   50   Middle_age
3   21  Young Adult
4   45   Middle_age
5   46   Middle_age
6   63       senior
7   27  Young Adult
8   26  Young Adult
9   57   Middle_age

In [23]:
df

,customer_id,age,gender,item_purchased,category,purchase_amount_,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle_age
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young Adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle_age
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle_age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly,Adult
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly,Middle_age
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly,Middle_age
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,Adult
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,Middle_age

In [24]:
#create column Purchase_frequency_days
frequency_mapping={ 'Fortnightly':14,
                    'Weekly':7,
                    'Monthly':30,
                    'Quarterly':90,
                    'Bi-Weekly':14,
                    'Annually':365,
                    'Every 3 Months':90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [25]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [26]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [27]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [28]:
df=df.drop('promo_code_used',axis=1)

In [29]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [30]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\hp\documents\anaconda_learn\lib\site-packages (2.9.11)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\documents\anaconda_learn\lib\site-packages (from sqlalchemy) (4.11.0)
Downloading sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 119.1 kB/s eta 0:00:18
    --------------------------------------- 0.0/2.1 MB 119.1 kB/s eta 0:00:18
    --------------------------------------- 0.0/2.1 MB 119.1 kB/s eta 0:00:18
    --------------------------------------- 0.0/2.1 MB 98.5 kB/s eta 0:00:22
    --------------------------------------- 0.0/2.1 MB 98.5 kB/s eta 0:00:22
   - -------------------------------------- 0.1/2.1 MB 126.1 kB/s eta 0:00:17
   - -------------------------------------- 0.1/2.1 MB 126.1 kB/s eta 0:00:17
   - -------------------------------------- 0.1/2.1 MB 122.9 kB/s eta 0:00:17
   - -------------------------------------- 0.1/2.1 MB 149.8 kB/s eta 0:00:14
   -- ------------------------------------- 0.1/2.1 MB 168.1 kB/s eta 0:00:13
   -- ------------------------------------- 0.1/2.1 MB 167.6 kB/s eta 0:00:13
   -- ------------------------------------- 0.1/2.1 MB 167.6 kB/s eta 0:00:13
   -- ------------------------------------- 0.1/2.1 MB 177.5 kB/s eta 0:00:12
   -- ------------------------------------- 0.2/2.1 MB 179.9 kB/s eta 0:00:12
   --- ------------------------------------ 0.2/2.1 MB 194.4 kB/s eta 0:00:11
   --- ------------------------------------ 0.2/2.1 MB 210.7 kB/s eta 0:00:10
   ---- ----------------------------------- 0.2/2.1 MB 225.6 kB/s eta 0:00:09
   ---- ----------------------------------- 0.2/2.1 MB 228.9 kB/s eta 0:00:09
   ---- ----------------------------------- 0.3/2.1 MB 238.4 kB/s eta 0:00:08
   ---- ----------------------------------- 0.3/2.1 MB 238.4 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 249.3 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 256.9 kB/s eta 0:00:08
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ----- ---------------------------------- 0.3/2.1 MB 207.0 kB/s eta 0:00:09
   ------ --------------------------------- 0.3/2.1 MB 176.3 kB/s eta 0:00:11
   ------ --------------------------------- 0.3/2.1 MB 176.3 kB/s eta 0:00:11
   ------ --------------------------------- 0.4/2.1 MB 176.9 kB/s eta 0:00:11
   ------ --------------------------------- 0.4/2.1 MB 176.5 kB/s eta 0:00:11
   ------ --------------------------------- 0.4/2.1 MB 176.5 kB/s eta 0:00:11
   ------- -------------------------------- 0.4/2.1 MB 178.3 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 178.3 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 175.4 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 175.4 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 175.4 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 175.9 kB/s eta 0:00:10
   ------- -------------------------------- 0.4/2.1 MB 175.9 kB/s eta 0:00:10
   -------- ------------------------------- 0.4/2.1 MB 177.6 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 178.4 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 182.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 182.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 182.1 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 177.3 kB/s eta 0:00:10
   -------- ------------------------------- 0.5/2.1 MB 177.3 kB/s eta 0:00:10
   --------- ------------------------------ 0.5/2.1 MB 178.7 kB/s eta 0:00:10
   --------- ------------------------------ 0.5/2.1 MB 178.7 kB/s eta 0:00:10
   --------- ------------------------------ 0.5/2.1 MB 180.1 kB/s eta 0:00:09
   --------- ------------------------------ 0.5/2.1 MB 178.7 kB/s eta 0:00:09
   ---------- ----------------------------- 0.6/2.1 MB 182.9 kB/s eta 0:00:09
   ---------- ----------------------------- 0.6/2.1 MB 184.3 kB/s eta 0:00:09
   ---------- ----------------------------- 0.6/2.1 MB 184.3 kB/s eta 0:00:09
   ---------- ----------------------------- 0.6/2.1 MB 184.4 kB/s eta 0:00:09
   ---------- ----------------------------- 0.6/2.1 MB 184.4 kB/s eta 0:00:09
   ----------- ---------------------------- 0.6/2.1 MB 187.2 kB/s eta 0:00:09
   ----------- ---------------------------- 0.6/2.1 MB 186.8 kB/s eta 0:00:09
   ----------- ---------------------------- 0.6/2.1 MB 189.5 kB/s eta 0:00:08
   ------------ --------------------------- 0.6/2.1 MB 189.9 kB/s eta 0:00:08
   ------------ --------------------------- 0.6/2.1 MB 189.9 kB/s eta 0:00:08
   ------------ --------------------------- 0.7/2.1 MB 193.3 kB/s eta 0:00:08
   ------------ --------------------------- 0.7/2.1 MB 196.6 kB/s eta 0:00:08
   ------------- -------------------------- 0.7/2.1 MB 196.9 kB/s eta 0:00:08
   ------------- -------------------------- 0.7/2.1 MB 197.5 kB/s eta 0:00:08
   ------------- -------------------------- 0.7/2.1 MB 198.6 kB/s eta 0:00:08
   ------------- -------------------------- 0.7/2.1 MB 198.6 kB/s eta 0:00:08
   ------------- -------------------------- 0.7/2.1 MB 199.1 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/2.1 MB 199.1 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 201.3 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 199.8 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 199.8 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 201.9 kB/s eta 0:00:07
   -------------- ------------------------- 0.8/2.1 MB 201.9 kB/s eta 0:00:07
   --------------- ------------------------ 0.8/2.1 MB 198.9 kB/s eta 0:00:07
   --------------- ------------------------ 0.8/2.1 MB 198.9 kB/s eta 0:00:07
   --------------- ------------------------ 0.8/2.1 MB 199.4 kB/s eta 0:00:07
   --------------- ------------------------ 0.8/2.1 MB 199.4 kB/s eta 0:00:07
   --------------- ------------------------ 0.8/2.1 MB 199.8 kB/s eta 0:00:07
   ---------------- ----------------------- 0.9/2.1 MB 200.0 kB/s eta 0:00:07
   ---------------- ----------------------- 0.9/2.1 MB 202.6 kB/s eta 0:00:07
   ---------------- ----------------------- 0.9/2.1 MB 202.8 kB/s eta 0:00:07
   ----------------- ---------------------- 0.9/2.1 MB 205.3 kB/s eta 0:00:06
   ----------------- ---------------------- 0.9/2.1 MB 209.3 kB/s eta 0:00:06
   ----------------- ---------------------- 1.0/2.1 MB 211.6 kB/s eta 0:00:06
   ----------------- ---------------------- 1.0/2.1 MB 211.6 kB/s eta 0:00:06
   ------------------ --------------------- 1.0/2.1 MB 215.5 kB/s eta 0:00:06
   ------------------- -------------------- 1.0/2.1 MB 218.5 kB/s eta 0:00:06
   ------------------- -------------------- 1.0/2.1 MB 219.9 kB/s eta 0:00:05
   ------------------- -------------------- 1.0/2.1 MB 219.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 222.7 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 222.7 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 220.6 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 220.6 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 221.2 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 221.2 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 219.8 kB/s eta 0:00:05
   -------------------- ------------------- 1.1/2.1 MB 219.8 kB/s eta 0:00:05
   --------------------- ------------------ 1.1/2.1 MB 219.8 kB/s eta 0:00:05
   --------------------- ------------------ 1.1/2.1 MB 219.8 kB/s eta 0:00:05
   --------------------- ------------------ 1.2/2.1 MB 219.8 kB/s eta 0:00:05
   --------------------- ------------------ 1.2/2.1 MB 218.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.2/2.1 MB 218.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.2/2.1 MB 218.4 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 216.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 216.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 216.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 216.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 216.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 210.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 210.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 209.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 209.6 kB/s eta 0:00:05
   ---------------------- ----------------- 1.2/2.1 MB 209.6 kB/s eta 0:00:05
   ----------------------- ---------------- 1.2/2.1 MB 209.2 kB/s eta 0:00:05
   ----------------------- ---------------- 1.2/2.1 MB 209.2 kB/s eta 0:00:05
   ----------------------- ---------------- 1.2/2.1 MB 207.1 kB/s eta 0:00:05
   ----------------------- ---------------- 1.2/2.1 MB 207.1 kB/s eta 0:00:05
   ----------------------- ---------------- 1.3/2.1 MB 207.8 kB/s eta 0:00:05
   ----------------------- ---------------- 1.3/2.1 MB 207.8 kB/s eta 0:00:05
   ----------------------- ---------------- 1.3/2.1 MB 206.3 kB/s eta 0:00:05
   ------------------------ --------------- 1.3/2.1 MB 207.0 kB/s eta 0:00:05
   ------------------------ --------------- 1.3/2.1 MB 207.0 kB/s eta 0:00:05
   ------------------------ --------------- 1.3/2.1 MB 208.1 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 207.7 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 207.7 kB/s eta 0:00:04
   ------------------------- -------------- 1.4/2.1 MB 208.9 kB/s eta 0:00:04
   ------------------------- -------------- 1.4/2.1 MB 210.6 kB/s eta 0:00:04
   -------------------------- ------------- 1.4/2.1 MB 212.2 kB/s eta 0:00:04
   -------------------------- ------------- 1.4/2.1 MB 212.3 kB/s eta 0:00:04
   -------------------------- ------------- 1.4/2.1 MB 213.8 kB/s eta 0:00:04
   -------------------------- ------------- 1.4/2.1 MB 214.4 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.4 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.4 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 216.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 210.3 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 205.4 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 205.4 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 203.3 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 203.3 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 204.4 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 206.3 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 206.3 kB/s eta 0:00:03
   ------------------------------ --------- 1.6/2.1 MB 207.8 kB/s eta 0:00:03
   ------------------------------ --------- 1.6/2.1 MB 210.0 kB/s eta 0:00:03
   ------------------------------ --------- 1.6/2.1 MB 211.4 kB/s eta 0:00:03
   ------------------------------- -------- 1.7/2.1 MB 213.2 kB/s eta 0:00:03
   ------------------------------- -------- 1.7/2.1 MB 213.2 kB/s eta 0:00:03
   ------------------------------- -------- 1.7/2.1 MB 213.3 kB/s eta 0:00:03
   -------------------------------- ------- 1.7/2.1 MB 215.9 kB/s eta 0:00:02
   -------------------------------- ------- 1.7/2.1 MB 216.3 kB/s eta 0:00:02
   --------------------------------- ------ 1.8/2.1 MB 218.5 kB/s eta 0:00:02
   --------------------------------- ------ 1.8/2.1 MB 222.3 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 223.5 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 223.5 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 223.0 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 223.0 kB/s eta 0:00:02
   ----------------------------------- ---- 1.9/2.1 MB 224.2 kB/s eta 0:00:02
   ----------------------------------- ---- 1.9/2.1 MB 224.2 kB/s eta 0:00:02
   ----------------------------------- ---- 1.9/2.1 MB 225.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 226.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 227.3 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 227.3 kB/s eta 0:00:01
   ------------------------------------ --- 2.0/2.1 MB 228.8 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 229.1 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 229.4 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 229.4 kB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 228.9 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 229.3 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 229.3 kB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 229.5 kB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 229.8 kB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 229.8 kB/s eta 0:00:01
   -------------------------------------- - 2.1/2.1 MB 229.8 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 228.2 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 228.2 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 227.7 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 227.7 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 228.0 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 228.0 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 226.3 kB/s eta 0:00:00
Downloading greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   ---------------------------------------- 0.0/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   - -------------------------------------- 10.2/302.0 kB ? eta -:--:--
   ---- ----------------------------------- 30.7/302.0 kB 35.4 kB/s eta 0:00:08
   ---- ----------------------------------- 30.7/302.0 kB 35.4 kB/s eta 0:00:08
   ---- ----------------------------------- 30.7/302.0 kB 35.4 kB/s eta 0:00:08
   ---- ----------------------------------- 30.7/302.0 kB 35.4 kB/s eta 0:00:08
   ---- ----------------------------------- 30.7/302.0 kB 35.4 kB/s eta 0:00:08
   ----- ---------------------------------- 41.0/302.0 kB 38.5 kB/s eta 0:00:07
   ----- ---------------------------------- 41.0/302.0 kB 38.5 kB/s eta 0:00:07
   ----- ---------------------------------- 41.0/302.0 kB 38.5 kB/s eta 0:00:07
   ----- ---------------------------------- 41.0/302.0 kB 38.5 kB/s eta 0:00:07
   -------- ------------------------------- 61.4/302.0 kB 52.8 kB/s eta 0:00:05
   -------- ------------------------------- 61.4/302.0 kB 52.8 kB/s eta 0:00:05
   --------- ------------------------------ 71.7/302.0 kB 56.2 kB/s eta 0:00:05
   --------- ------------------------------ 71.7/302.0 kB 56.2 kB/s eta 0:00:05
   ------------ --------------------------- 92.2/302.0 kB 70.9 kB/s eta 0:00:03
   -------------- ------------------------ 112.6/302.0 kB 83.0 kB/s eta 0:00:03
   -------------- ------------------------ 112.6/302.0 kB 83.0 kB/s eta 0:00:03
   --------------- ----------------------- 122.9/302.0 kB 85.9 kB/s eta 0:00:03
   ------------------ -------------------- 143.4/302.0 kB 96.8 kB/s eta 0:00:02
   ------------------ -------------------- 143.4/302.0 kB 96.8 kB/s eta 0:00:02
   ------------------ -------------------- 143.4/302.0 kB 96.8 kB/s eta 0:00:02
   ------------------- ------------------- 153.6/302.0 kB 96.6 kB/s eta 0:00:02
   ------------------- ------------------- 153.6/302.0 kB 96.6 kB/s eta 0:00:02
   ------------------- ------------------- 153.6/302.0 kB 96.6 kB/s eta 0:00:02
   ------------------- ------------------- 153.6/302.0 kB 96.6 kB/s eta 0:00:02
   ------------------- ------------------- 153.6/302.0 kB 96.6 kB/s eta 0:00:02
   ---------------------- ---------------- 174.1/302.0 kB 93.6 kB/s eta 0:00:02

In [33]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "postgres"
password = quote_plus("Jamuna@20")   # ðŸ”‘ encode special characters
host = "localhost"
port = "5432"
database = "customer_behavior"

engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

# Test connection
with engine.connect() as conn:
    print("Connected successfully!")

df.to_sql(
    "customer",
    engine,
    if_exists="replace",
    index=False
)

print("Data successfully loaded into PostgreSQL")

Connected successfully!
Data successfully loaded into PostgreSQL